<%- include('partials/header.ejs') -%>

	<main>

		<!-- <a href="/add-task"><button>Add task</button></a> -->


		<%if(tasks.length> 0){%>
			<ul>
				<% tasks.forEach(task=> { %>
					<li class="itemrow" id="<%= task.id %>">
						<div>
							<div>
								<input class="checkbox" <%=(task.checked==1) ? 'checked="true"' : '' %>
								type="checkbox" name="<%=task.name %>" id="check-<%= task.id %>">
							</div>
							<div>
								<div>
									<div>
										<label for="check-<%= task.id %>" style="task:<%=task.name %>;">
											<%=task.name %>
										</label>
										<a href="/task/<%= task.id %>">
											i
										</a>
									</div>
									<button class="edit">edit</button>
								</div>

								<form action="/update-task-submit" method="post">
									<div>
										<input type="text" value="<%= task.id %>" name="id" />
										<input type="text" value="<%= task.name %>" name="name"
											placeholder="<%= task.name %>" />
									</div>
									<input type="submit" value="Update" />
								</form>
							</div>
						</div>
						<div>
							<button class="delete">x</button>
						</div>
					</li>
					<% }) %>

			</ul>
			<%} else {%>
				<p>No tasks </p>

				<%}%>

	</main>

	<%- include('partials/footer.ejs') -%>






		<script>
			window.addEventListener("DOMContentLoaded", function () {
				console.log(`loaded`)

				const deleteHandler = (event) => {
					console.log(`clicked`, event.currentTarget)
					console.log(`clicked`, event.currentTarget.closest(".itemrow").id)

					fetch("/delete-task", {
						method: "post",
						headers: {
							Accept: "application/json",
							"Content-Type": "application/json"
						},
						body: JSON.stringify({ id: event.currentTarget.closest(".itemrow").id })
					}).then(res => {

						console.log(`deleted`,)
						window.location.reload()

					}).catch((err) => console.log("err", err))

				}

				const checkHandler = (event) => {
					let check = event.currentTarget.checked ? 1 : 0

					fetch("/check-task", {
						method: "post",
						headers: {
							Accept: "application/json",
							"Content-Type": "application/json"
						},
						body: JSON.stringify({ id: event.currentTarget.closest(".itemrow").id, checked: check })
					}).then(res => {
						window.location.reload()
					}).catch((err) => console.log("err", err))

				}


				Array.from(document.getElementsByClassName("delete")).forEach((btn) => {
					btn.addEventListener("click", deleteHandler, false)

				})

				Array.from(document.getElementsByClassName("checkbox")).forEach((checkbox) => {
					checkbox.addEventListener("click", checkHandler, false)
				})




			})

		</script>