<%- include('partials/header.ejs') -%>

	<main class="main">

		<!-- <a href="/add-task"><button>Add task</button></a> -->
		<%- include('partials/add-task.ejs') -%>

			<%if(tasks.length> 0){%>
				<ul class="ulTasks">
					<% tasks.forEach(task=> { %>
						<li class="itemrow" id="<%= task.id %>">
							<div class="iteInfoContainer">
								<div class="divCheck">
									<input class="checkbox" <%=(task.checked==1) ? 'checked="true"' : '' %>
									type="checkbox" name="<%=task.name %>" id="check-<%= task.id %>">
								</div>
								<div class="labelFormControls">
									<div class="labelEdit inForm">
										<div class="labelAnchor">



											<label style="<%=(task.checked==1) ? 'text-decoration: line-through; color:greenyellow;'
											: '' %>" class="labelforCheck" for="check-<%= task.id %>">
												<%=task.name %>
											</label>
											<a class="itemLinkInfo" href="/task/<%= task.id %>">i</a>
										</div>
										<button class="edit"></button>
									</div>

									<form class="hide upform" action="/update-task-submit" method="post">
										<div class="inputIdName">
											<input type="hidden" value="<%= task.id %>" name="id" />
											<input class="editName" type="text" value="<%= task.name %>" name="name"
												placeholder="<%= task.name %>" />
										</div>
										<input class="inputUpdate" type="submit" value="" />
									</form>
								</div>
							</div>
							<div class="divDelete">
								<button class="delete"></button>
							</div>
						</li>
						<% }) %>

				</ul>
				<%} else {%>
					<p>No tasks </p>

					<%}%>

	</main>

	<%- include('partials/footer.ejs') -%>






		<script>
			window.addEventListener("DOMContentLoaded", function () {
				console.log(`loaded`)

				const deleteHandler = (event) => {
					console.log(`clicked`, event.currentTarget)
					console.log(`clicked`, event.currentTarget.closest(".itemrow").id)

					fetch("/delete-task", {
						method: "post",
						headers: {
							Accept: "application/json",
							"Content-Type": "application/json"
						},
						body: JSON.stringify({ id: event.currentTarget.closest(".itemrow").id })
					}).then(res => {

						console.log(`deleted`,)
						window.location.reload()

					}).catch((err) => console.log("err", err))

				}

				const checkHandler = (event) => {
					let check = event.currentTarget.checked ? 1 : 0

					fetch("/check-task", {
						method: "post",
						headers: {
							Accept: "application/json",
							"Content-Type": "application/json"
						},
						body: JSON.stringify({ id: event.currentTarget.closest(".itemrow").id, checked: check })
					}).then(res => {
						window.location.reload()
					}).catch((err) => console.log("err", err))

				}

				const editHandler = (event) => {
					const labelEdit = event.currentTarget.closest(".itemrow").children[0].children[1].children[0]
					const editForm = event.currentTarget.closest(".itemrow").children[0].children[1].children[1]
					const inputEditName = event.currentTarget.closest(".itemrow").children[0].children[1].children[1].children[0].children[1]
					console.log(event.currentTarget.closest(".itemrow").children[0].children[1].children[1].children[0].children[1])
					Array.from(document.getElementsByClassName("upform")).forEach((form) => {
						form.classList.remove("editForm")
						form.classList.add("hide")
					})

					Array.from(document.getElementsByClassName("inForm")).forEach((form) => {
						form.classList.add("labelEdit")
						form.classList.remove("hide")
					})

					console.log(event.currentTarget)
					labelEdit.classList.remove("labelEdit")
					labelEdit.classList.add("hide")
					editForm.classList.remove("hide")
					editForm.classList.add("editForm")
					inputEditName.focus()
					inputEditName.style.outline = 0
				}

				Array.from(document.getElementsByClassName("delete")).forEach((btn) => {
					btn.addEventListener("click", deleteHandler, false)

				})

				Array.from(document.getElementsByClassName("checkbox")).forEach((checkbox) => {
					checkbox.addEventListener("click", checkHandler, false)
				})

				Array.from(document.getElementsByClassName("edit")).forEach((btn) => {
					btn.addEventListener("click", editHandler, false)
				})




			})

		</script>