<%- include('partials/header.ejs') -%>

	<h1>Home 2</h1>

	<!-- <a href="/add-task"><button>Add task</button></a> -->
	<%- include('partials/add-task.ejs') -%>

		<%if(tasks.length> 0){%>
			<ul>
				<% tasks.forEach(task=> { %>
					<li id="<%= task.id %>">
						<!-- <%= task.id %>
							<%= task.name %>
								<%= task.checked %>

									<%= (task.checked==1) ? 'true' : 'false' %> -->

						<input class="checkbox" <%=(task.checked==1) ? 'checked="true"' : '' %>
						type="checkbox" name="<%=task.name %>" id="check-<%= task.id %>">
								<label for="check-<%= task.id %>" style="task:<%=task.name %>;">
									<%=task.name %>
								</label>

								<span><a href="/task/<%= task.id %>">
										i
									</a></span>

								<form action="/update-task-submit" method="post">
									<input type="text" value="<%= task.id %>" name="id" />
									<input type="text" value="<%= task.name %>" name="name"
										placeholder="<%= task.name %>" />
									<input type="submit" value="Update" />
								</form>
								<button class="edit">edit</button>
								<button class="delete">x</button>
					</li>
					<% }) %>

			</ul>
			<%} else {%>
				<p>No tasks </p>

				<%}%>



					<%- include('partials/footer.ejs') -%>






						<script>
							window.addEventListener("DOMContentLoaded", function () {
								console.log(`loaded`)

								const deleteHandler = (event) => {
									console.log(`clicked`, event.currentTarget)
									console.log(`clicked`, event.currentTarget.parentElement.id)

									fetch("/delete-task", {
										method: "post",
										headers: {
											Accept: "application/json",
											"Content-Type": "application/json"
										},
										body: JSON.stringify({ id: event.currentTarget.parentElement.id })
									}).then(res => {

										console.log(`deleted`,)
										window.location.reload()

									}).catch((err) => console.log("err", err))

								}

								const checkHandler = (event) => {
									let check = event.currentTarget.checked ? 1 : 0

									fetch("/check-task", {
										method: "post",
										headers: {
											Accept: "application/json",
											"Content-Type": "application/json"
										},
										body: JSON.stringify({ id: event.currentTarget.parentElement.id, checked: check })
									}).then(res => {
										window.location.reload()
									}).catch((err) => console.log("err", err))

								}


								Array.from(document.getElementsByClassName("delete")).forEach((btn) => {
									btn.addEventListener("click", deleteHandler, false)

								})

								Array.from(document.getElementsByClassName("checkbox")).forEach((checkbox) => {
									checkbox.addEventListener("click", checkHandler, false)
								})




							})

						</script>