<%- include('partials/header.ejs') -%>
    <main class="main">

        <p class="crumbs"><a href="/">Home</a><span>&#187;</span><span>Task id:<%= task.id %></span></p>

        <h1>Task profile</h1>

        <div class="profileWrap">
            <div class="profileTags">
                <p>Task name:
                </p>
                <p>Task id:
                </p>
                <p>Task status:
                </p>
            </div>

            <div class="profileValues">
                <p>
                    <%= task.name %>
                </p>
                <p>
                    <%= task.id %>

                </p>
                <p>
                    <%=(task.checked==1) ? "Done" : "Pendant" %>
                </p>
            </div>

        </div>
    </main>
    <%- include('partials/footer.ejs') -%>